{% extends 'base.html.twig' %}
{% block adminlte %}{% endblock %}

{% block title %}{{ 'admin.user.create'|trans }}{% endblock %}

{% block body_admin %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">{{ 'admin.user.create'|trans }}</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}" title="{{ 'home'|trans }}">{{ 'home'|trans }}</a></li>
                            <li class="breadcrumb-item active">{{ 'admin.user.create'|trans }}</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 offset-md-3">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">{{'admin.form.titleAdd'|trans}}</h3>
                            </div>
                            <div class="card-body">
                                {{ form_start(form) }}
                                <div class="form-group">
                                    {{ form_label(form.firstName, 'user.form.firstname') }}
                                    {{ form_errors(form.firstName) }}
                                    {{ form_widget(form.firstName, {'attr': {'class': 'email-bt'}}) }}

                                </div>
                                <div class="form-group">
                                    {{ form_label(form.firstName, 'user.form.lastname') }}
                                    {{ form_errors(form.lastName) }}
                                    {{ form_widget(form.lastName, {'attr': {'class': 'email-bt'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.firstName, 'user.form.email') }}
                                    {{ form_errors(form.email) }}
                                    {{ form_widget(form.email, {'attr': {'class': 'email-bt'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.firstName, 'user.form.password') }}
                                    {{ form_errors(form.plainPassword, {'attr': {'class': 'email-bt'}}) }}
                                    {{ form_widget(form.plainPassword, {'attr': {'class': 'email-bt'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.firstName, 'user.form.phoneNumber') }}
                                    {{ form_errors(form.phoneNumber) }}
                                    {{ form_widget(form.phoneNumber, {'attr': {'class': 'email-bt'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.roles, 'user.roles') }}
                                    {{ form_errors(form.roles) }}
                                    {{ form_widget(form.roles, {'attr': {'class': 'email-bt'}}) }}
                                </div>
                                <div class="form-group">
                                    <button title="{{ 'save'|trans }}"
                                            class="btn btn-danger mt-3  mb-3"><i class="fas fa-save"></i> {{ 'save'|trans }}</button>
                                    <a href="{{ path('admin_user_index') }}" class="btn btn-primary"><i class="fas fa-backward"></i> {{ 'back'|trans }}</a>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript_admin_additionnals %}
    {# Script bsCustomFileInputjs #}
    {{ encore_entry_script_tags('bsfileinput') }}
{% endblock %}
