{% extends 'base.html.twig' %}
{% block carousel %}{% endblock %}
{% block title %}
	{{ 'title'|trans }}
{% endblock %}

{% block body %}
	<!-- Features Section Begin -->
	<section class="features-section spad">
		<div class="features-ads">
			<div class="container">
				<div class="row">
					<div class="col-lg-4">
						<div class="single-features-ads first">
							<img src="{{ asset('build/images/icons/f-delivery.png') }}" alt="">
							<h4>{{'freeShipping' |trans }}</h4>
							<p>Fusce urna quam, euismod sit amet mollis quis, vestibulum quis velit. Vesti bulum mal
																																																																																																																																																																																		                                esuada aliquet libero viverra cursus.
							</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="single-features-ads second">
							<img src="{{ asset('build/images/icons/coin.png') }}" alt="">
							<h4>{{'moneyBack' |trans}}
							</h4>
							<p>Urna quam, euismod sit amet mollis quis, vestibulum quis velit. Vesti bulum mal esuada
																																																																																																																																																																																		                                aliquet libero viverra cursus.
							</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="single-features-ads">
							<img src="{{ asset('build/images/icons/chat.png') }}" alt="">
							<h4>{{'support' |trans }}</h4>
							<p>Urna quam, euismod sit amet mollis quis, vestibulum quis velit. Vesti bulum mal esuada
																																																																																																																																																																																		                                aliquet libero viverra cursus.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Features Box -->
	</section>
	<!-- Features Section End -->
	<!-- Latest Product Begin -->
		<section class="latest-products spad"> <div class="container">
			<div class="product-filter">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>{{'latestProducts'|trans}}</h2>
						</div>
						<ul class="product-controls">
							{% for category in categories %}
								<li data-filter=".{{category.name}}">{{category.name}}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>

			<div class="row" id="product-list">
				{% for product in products %}

					<div class="col-lg-3 col-sm-6 mix Tous {{product.category.name}}">
						<div class="single-product-item">
							<figure>
								<a href="{{ path('product_show', {'id': product.id}) }}">
									<img alt="{{ product.name }}" class="img-fluid" src="{{ vich_uploader_asset(product, 'imageFile')|imagine_filter('product_thumb') }}">
								</a>
							</figure>
							<div class="product-text">
								<h6>{{product.name}}</h6>
								<p>
									{{(product.price * 1.2) | number_format(2, ',', '.')}}&euro;</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<!-- Latest Product End -->
	<!-- Lookbok Section Begin -->
	<section class="lookbok-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4 offset-lg-1">
					<div class="lookbok-left">
						<div class="section-title">
							<h2>{{ 'now' | date('Y') }}
								<br/>#lookmanga</h2>
						</div>
						<p>{{'onePieceSynopsis' |trans}}</p>
					</div>
				</div>
				<div class="col-lg-6 offset-lg-1 my-auto">
					<div class="lookbok-pic">
						<img src="{{ asset('build/images/Usopp/Equipage.jpg') }}" alt="Mangas">
						<div class="pic-text">MANGA</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Lookbok Section End -->
	<!-- Logo Section Begin -->
	<div class="logo-section spad">
		<div class="logo-items owl-carousel">
			<div class="logo-item">
				<img src="{{ asset('build/images/CarLogo/brand1.png')}}" alt="image1">
			</div>
			<div class="logo-item">
				<img src="{{ asset('build/images/CarLogo/brand2.png')}}" alt="image2">
			</div>
			<div class="logo-item">
				<img src="{{ asset('build/images/CarLogo/brand3.png')}}" alt="image3">
			</div>
			<div class="logo-item">
				<img src="{{ asset('build/images/CarLogo/brand4.png')}}" alt="image4">
			</div>
			<div class="logo-item">
				<img src="{{ asset('build/images/CarLogo/brand5.png')}}" alt="image5">
			</div>
			<div class="logo-item">
				<img src="{{ asset('build/images/CarLogo/brand6.png')}}" alt="image6">
			</div>
			<div class="logo-item">
				<img src="{{ asset('build/images/CarLogo/brand7.png')}}" alt="image7">
			</div>
		</div>
	</div>
	<!-- Logo Section End -->
{% endblock %}
