{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
    <h1>Order</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ order.status }}</td>
            </tr>
            <tr>
                <th>PaymentAt</th>
                <td>{{ order.paymentAt ? order.paymentAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeliveryAddress</th>
                <td>{{ order.deliveryAddress }}</td>
            </tr>
            <tr>
                <th>Carrier_name</th>
                <td>{{ order.carrierName }}</td>
            </tr>
            <tr>
                <th>Carrier_price</th>
                <td>{{ order.carrierPrice }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('order_index') }}">back to list</a>

    <a href="{{ path('order_edit', {'id': order.id}) }}">edit</a>

    {{ include('order/_delete_form.html.twig') }}
{% endblock %}
