{% extends 'base.html.twig' %}

{% block title %}
    {{ 'product.allProducts'|trans }}
{% endblock %}

{% block body %}
    <!-- Page Add Section Begin -->
    <section class="page-add cart-page-add">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-breadcrumb">
                        <h2>{{ 'product.title2'|trans }}<span>.</span></h2>
                        <a href="{{ path('home') }}" title="{{ 'home'|trans }}">{{ 'home'|trans }}</a>
                        <a class="active" href="#" title="{{ 'product.title2'|trans }}">{{ 'product.title2'|trans }}</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img src="{{ asset('build/images/banners/mangaBan8.jpeg') }}" alt="Mangas">
                </div>
            </div>
        </div>
    </section>
    <!-- Page Add Section End -->
    <div class="col-12 mt-5">
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <section class="categories-page spad">
        <div class="container">
            <div class="col-lg-12">
                <p>{{ 'product.ProductDesc'|trans }}</p>
                <hr/>
            </div>
            <div class="categories-controls">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="categories-filter">
                            <div class="cf-left">
                                <button type="button" title="{{ 'product.modalFilter'|trans }}" class="btn btn-info" data-toggle="modal"
                                        data-target="#exampleModal">
                                    <i class="fas fa-sort-amount-up-alt"></i> {{ 'product.modalFilter'|trans }}
                                </button>
                                <a href="{{ path('reset_product_filter') }}" title="{{ 'product.resetFilter'|trans }}" class="btn btn-secondary">
                                    <i class="fas fa-history"></i> {{ 'product.resetFilter'|trans }}
                                </a>
                            </div>
                            {{ include ('product/product_filter_modal.html.twig') }}
                            <div class="cf-right">
                                <p>{{ 'product.total'|trans }}: ({{ productFiltered.getTotalItemCount }})</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for product in productFiltered %}
                    <div class="col-lg-4 col-md-4">
                        <div class="single-product-item">
                            <a href="{{ path('product_show', {'id': product.id}) }}" title="{{ product.name }}">
                                <figure style="min-height: 223px">
                                    <img alt="{{ product.name }}" class="img-fluid" src="{{ vich_uploader_asset(product, 'imageFile')|imagine_filter('product_thumb') }}">
                                    <div class="p-status"><b>{{ product.category.name }}</b></div>
                                </figure>
                            </a>
                            <div class="product-text text-center">
                                <a href="{{ path('product_show', {'id': product.id}) }}" title="{{ product.name }}">
                                    <h6>{{ product.name }} {% if product.isBest %}<span class="badge badge-info"> {{ 'product.best'|trans }}</span>{% endif %}</h6>
                                </a>
                                {% set tva = product.price * (product.tax/100) %}
                                <p>{{ (product.price + tva)|number_format(2, ',', '.')  }} €</p>
                                <div>
                                    <a class="btn btn-success btn-sm mr-1 mb-2" title="{{ 'product.addToCart'|trans }}"
                                       href="{{ path('add_to_cart_without_redirection_to_cart', {'id': product.id, 'routeName': app.request.get('_route')}) }}">
                                        <i class="fas fa-shopping-cart pr-2"></i> {{ 'product.addToCart'|trans }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <h1>
                        <strong>{{ 'product.OutofStockDesc'|trans }}&#128532;</strong>
                    </h1>
                {% endfor %}
            </div>
            <div class="pagination col-lg-12 justify-content-center text-center my-5">
                {{ knp_pagination_render(productFiltered) }}
            </div>
        </div>
    </section>
{% endblock %}