{% extends 'base.html.twig' %}

{% block title %}
	{{ 'aboutUs'|trans }}
{% endblock %}

{% block body %}
	<!-- Page Add Section Begin -->
	<section class="page-add">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="page-breadcrumb">
						<h2>{{ 'aboutUs'|trans }}<span>.</span></h2>
					</div>
				</div>
				<div class="col-lg-6">
					<img src="{{ asset('build/images/banners/mangaBan5.jpg') }}" alt="Mangas">
				</div>
			</div>
		</div>
	</section>
	<!-- Page Add Section End -->
	<div class="col-12 mt-5">
		{% for type, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
					{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			{% endfor %}
		{% endfor %}
	</div>
	<!-- Contact Section Begin -->
{#	<div class="contact-section">#}
	<div class="row mb-5" style="padding: 100px">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<p class="lead">
						{{'aboutUsText' |trans}}
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
