{% extends 'base.html.twig' %}
{% block adminlte %}{% endblock %}

{% block title %}
	{{ 'admin.category.viewall'|trans }}
{% endblock %}

{% block body_admin %}
	<div
		class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			{% for type, messages in app.flashes %}
				{% for message in messages %}
					<div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
						{{ message }}
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				{% endfor %}
			{% endfor %}
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">{{ 'admin.category.viewall'|trans }}</h1>
					</div>
					<!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item">
								<a href="{{ path('admin_dashboard') }}" title="{{ 'home'|trans }}">{{ 'home'|trans }}</a>
							</li>
						</li>
						<li class="breadcrumb-item active" title={{ 'admin.category.viewall'|trans }}>{{ 'admin.category.viewall'|trans }}</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title">{{ 'admin.category.list'|trans }}</h3>
							<div class="float-right">
								<a class="btn btn-sm btn-primary" href="{{ path('admin_category_new') }}" title="{{ 'admin.category.add'|trans }}">
									<i class="fas fa-plus"></i>
									{{ 'admin.category.add'|trans }}</a>
							</div>
						</div>
						<div class="card-body">
							<table id="admin_products_table" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>Id</th>
										<th>{{ 'category.name'|trans }}</th>
										<th>Image</th>
										<th>{{ 'category.description'|trans }}</th>
										<th>{{ 'category.form.active'|trans}}</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									{% for category in categories %}
										<tr>
											<td>{{ category.id }}</td>
											<td>{{ category.name }}</td>
											<td>
												<img src="{{vich_uploader_asset(category) |imagine_filter('category_thumb')}}" alt="{{ category.originalName }}">
											</td>
											<td>
												{{ category.description |slice(0, 50)}}</td>
											<td>
												<div>
													<input class="custom-control-input" type="checkbox" id="customSwitch3" data-np-checked="category.active"></div>
												{{ category.active ? 'yes'|trans : 'no'|trans }}</td>
											<td>
												<a href="{{ path('admin_category_show', {'id': category.id}) }}" class="btn btn-success mr-2 mb-2">
													<i class="fas fa-eye" title="{{'admin.category.show'|trans}}"></i>
												</a>
												<a href="{{ path('admin_category_edit', {'id': category.id}) }}" class="btn btn-primary  mr-2 mb-2" title="{{'admin.category.edit'|trans}}">
													<i class="fas fa-edit"></i>
												</a>
											</td>
										</tr>
									{% else %}
										<tr>
											<td colspan="8">{{ 'admin.category.noRecord'|trans }}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}{% block javascript_admin_additionnals %}
{# Script datatable_init.js #}
{{ encore_entry_script_tags('datatable_init') }}{% endblock %}
