<!-- Footer Section Begin -->
<footer>
	<div class="social-links-warp text-center">
		<div class="container">
			<div class="social-links">
				<a href="{{path('aboutUs')}}" class="instagram" title="{{'aboutUs'|trans}}">
					<i class="fa fa-instagram"></i>
					<span>{{'aboutUs'|trans}}</span>
				</a>
				<a href="{{path('legal_notice')}}" class="pinterest" title="{{'LegalNotice'|trans}}">
					<i class="fa fa-pinterest"></i>
					<span>{{'LegalNotice'|trans}}</span>
				</a>
				<a href="{{path('waiting')}}" class="facebook" title="{{'TermsofUse' |trans}}">
					<i class="fa fa-facebook"></i>
					<span>{{'TermsofUse' |trans}}</span>
				</a>
			</div>
		</div>

		<div class="container text-center pt-5">
			<p>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				Copyright &copy;<script>
					document.write(new Date().getFullYear());
				</script>
				All rights reserved | This template is made with
				<i class="icon-heart color-danger" aria-hidden="true"></i>
				by
				<a href="https://colorlib.com" target="_blank">Colorlib</a>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			</p>
		</div>


	</div>
</footer>
<!-- Footer Section End -->
