<!-- Header Section Begin -->
<header class="header-section">
    <div class="container-fluid">
        <div class="inner-header">
            <div class="logo_custom">
                <a href="{{ path('home') }}" title="{{ 'title'|trans }}"><img
                            src="{{ asset('build/images/logo/logo_op_42x42.png') }}" alt="Ushopp"> Ushopp</a>
            </div>
            <div class="header-right">
                <a href="{{ path('account_index') }}" class="mr-3"><img src="{{ asset('build/images/icons/man.png') }}" alt=""></a>
                <a href="#">
                    <img src="{{ asset('build/images/icons/bag.png') }}" alt="">
                    <span>2</span>
                </a>
            </div>
            <div class="user-access">
                {% if app.user is not null %}
                    <a href="{{ path('app_logout') }}" class="in">Déconnexion</a>
                {% else %}
                    <a href="{{ path('app_register') }}">Inscription</a>
                    <a href="{{ path('app_login') }}" class="in">Connexion</a>
                {% endif %}
            </div>
            <nav class="main-menu mobile-menu">
                <ul>
                    <li><a class="active" href="{{ path('home') }}">{{ 'home'|trans }}</a></li>
                    <li>{{ 'product.title2'|trans }}
                        <ul class="sub-menu">
                            <li><a href="{{ path('all_products') }}">{{ 'product.allProducts'|trans }}</a></li>
                        </ul>
                    </li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
                        <li><a href="{{ path('admin_dashboard') }}"
                               title="{{ 'admin.titleHeader'|trans }}">
                                {{ 'admin.titleHeader'|trans }}
                            </a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- Header Info Begin -->
<div class="header-info">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="header-item">
                    <img src="{{ asset('build/images/icons/delivery.png') }}" alt="">
                    <p>Free shipping on orders over $30 in USA</p>
                </div>
            </div>
            <div class="col-md-4 text-left text-lg-center">
                <div class="header-item">
                    <img src="{{ asset('build/images/icons/voucher.png') }}" alt="">
                    <p>20% Student Discount</p>
                </div>
            </div>
            <div class="col-md-4 text-left text-xl-right">
                <div class="header-item">
                    <img src="{{ asset('build/images/icons/sales.png') }}" alt="">
                    <p>30% off on dresses. Use code: 30OFF</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header Info End -->
<!-- Header End -->