{% extends 'base.html.twig' %}
{# start - Initialize admin template #}
{% block adminlte %}{% endblock %}
{# end - Initialize admin template #}

{% block title %}
    {{ 'admin.title'|trans }}
{% endblock %}

{% block body_admin %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">{{ 'admin.title'|trans }}</h1>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">{{ 'home'|trans }}
                                /
                            </li>
                        </ol>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>{{ stats.orders }}</h3>

                                <p>{{ 'order.title'|trans }}</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-sort-numeric-up-alt"></i>
                            </div>

                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>{{ stats.unpaid }}</sup></h3>

                                <p>{{ 'admin.order.orderNotPay'|trans }}</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-window-close"></i>
                            </div>

                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3>{{ stats.users }}</h3>

                                <p>{{ 'admin.user.userRegistrations'|trans }}</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-users"></i>
                            </div>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3>{{ stats.allPriceTTC|number_format(2, ',', '.') }} €</h3>

                                <p>{{ 'admin.orderDetails.totalPrice' |trans }}</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-euro-sign"></i>
                            </div>
                        </div>
                    </div>
                    <!-- ./col -->
                </div>
            </div>
            <!-- TABLE: LATEST ORDERS -->
            <div class="row">
                <div class="col-lg-6 offset-md-3">
                    <div class="card">
                        <div class="card-header border-transparent">
                            <h3 class="card-title">{{ 'admin.order.lastOrder'|trans }}</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-sm btn-secondary" data-card-widget="collapse"><i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>{{ 'user.order.reference'|trans }}</th>
                                        <th>{{ 'user.title'|trans }}</th>
                                        <th>{{ 'product.price'|trans }}</th>
                                        <th>{{ 'cart.content.purchaseAt'|trans }}</th>
                                        <th>{{ 'user.order.status'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for order in lastOrders %}
                                        <tr>
                                            <td>{{ order.reference }}</td>
                                            <td>{{ order.user.firstName }} {{ order.user.lastName }}</td>
                                            <td>{{ (order.total + order.carrierPrice)|number_format(2, ',', '.') }} €</td>
                                            <td>{{ order.paymentAt ? order.paymentAt|date('d/m/Y h:m:s') : '-' }}</td>
                                            <td>
                                                <span class="badge badge-pill badge-primary">
                                                {% if order.status == 1 %}
                                                    {{ 'user.order.state1'|trans }}
                                                {% elseif order.status == 2%}
                                                    {{ 'user.order.state2'|trans }}
                                                {% elseif order.status == 3 %}
                                                    {{ 'user.order.state3'|trans }}
                                                {% elseif order.status == 4 %}
                                                    {{ 'user.order.state4'|trans }}
                                                {% endif %}
                                                </span>
                                            <td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </section>
    </div><!-- /.content-wrapper -->
{% endblock %}
