{% extends 'base.html.twig' %}
{% block adminlte %}{% endblock %}

{% block title %}{{ 'admin.product.viewall'|trans }}{% endblock %}

{% block body_admin %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">{{ 'admin.product.viewall'|trans }}</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}" title="{{ 'home'|trans }}">{{ 'home'|trans }}</a></li>
                            <li class="breadcrumb-item active">{{ 'admin.product.viewall'|trans }}</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <div class="content">
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">{{ 'product.list'|trans }}</h3>
                                <div class="float-right">
                                    <a class="btn btn-sm btn-primary" href="{{ path('admin_product_new') }}" title="{{ 'admin.product.add'|trans }}"><i class="fas fa-plus"></i> {{ 'admin.product.add'|trans }}</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <table id="admin_products_table" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>{{ 'product.name'|trans }}</th>
                                        <th>{{ 'product.form.reference'|trans }}</th>
                                        <th>{{ 'product.form.category'|trans }}</th>
                                        <th>{{ 'product.form.thumbnail'|trans }}</th>
                                        <th>{{ 'product.form.price'|trans }}</th>
                                        <th>{{ 'product.form.tax'|trans }}</th>
                                        <th>{{ 'product.form.ecoTax'|trans }}</th>
{#                                        <th>{{ 'product.form.weight'|trans }}</th>#}
{#                                        <th>{{ 'product.form.size'|trans }}</th>#}
                                        <th>{{ 'product.form.stock' |trans}}</th>
                                        <th>{{ 'product.form.active' |trans}}</th>
                                        <th>{{ 'product.form.isBest'|trans }}</th>
                                        <th>{{ 'createdAt'|trans }}</th>
                                        <th>{{ 'lastUpdate'|trans }}</th>
                                        <th>{{ 'cart.actions'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for product in products %}
                                        <tr>
                                            <td>{{ product.id }}</td>
                                            <td>{{ product.name }}</td>
                                            <td>{{ product.reference }}</td>
                                            <td>{{ product.category.name }}</td>
                                            <td>
                                                <img src="{{ vich_uploader_asset(product, 'imageFile')|imagine_filter('product_table_thumb') }}" alt="{{ product.originalName }}">
                                            </td>
                                            <td>{{ product.price }}</td>
                                            <td>{{ product.tax }}</td>
                                            <td>{{ product.ecotax }}</td>
{#                                            <td>{{ product.weight }}</td>#}
{#                                            <td>{{ product.size }}</td>#}
                                            <td>{{ product.productStock.quantity }}</td>
                                            <td>{{ product.active ? 'yes'|trans : 'no'|trans }}</td>
                                            <td>{{ product.isBest ? 'yes'|trans : 'no'|trans }}</td>
                                            <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '-' }}</td>
                                            <td>{{ product.updatedAt ? product.updatedAt|date('Y-m-d H:i:s') : '-' }}</td>
                                            <td>
                                                <a href="{{ path('admin_product_show', {'id': product.id}) }}"
                                                   class="btn btn-sm btn-success" title="{{ 'admin.product.show'|trans }}"><i class="fas fa-eye"></i></a>
                                                <a href="{{ path('admin_product_edit', {'id': product.id}) }}"
                                                   class="btn btn-sm btn-primary" title="{{ 'admin.product.edit'|trans }}"><i class="fas fa-edit" ></i></a>
                                                {% if product.active == 1 %}
                                                    {{ include('admin/product/_delete_form.html.twig') }}
                                                {% else %}
                                                    {{ include('admin/product/_enable_form.html.twig') }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="19">{{ 'admin.product.norecord'|trans }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript_admin_additionnals %}
    {# Script datatable_init.js #}
    {{ encore_entry_script_tags('datatable_init') }}
{% endblock %}