{% extends 'base.html.twig' %}
{% block adminlte %}{% endblock %}

{% block title %}{{ 'product.add'|trans }}{% endblock %}

{% block body_admin %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">{{ 'product.add'|trans }}</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}" title="{{ 'home'|trans }}">{{ 'home'|trans }}</a></li>
                            <li class="breadcrumb-item active">{{ 'admin.product.add'|trans }}</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title">{{ 'admin.form.titleAdd'|trans }}</h3>
                            </div>
                            <div class="card-body">
                                {{ form_start(form) }}
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        {{ form_label(form.name, 'product.name') }}
                                        {{ form_errors(form.name) }}
                                        {{ form_widget(form.name) }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        {{ form_label(form.reference, 'product.form.reference') }}
                                        {{ form_errors(form.reference) }}
                                        {{ form_widget(form.reference) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        {{ form_label(form.description, 'product.description') }}
                                        {{ form_errors(form.description) }}
                                        {{ form_widget(form.description) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        {{ form_label(form.category, 'product.form.category') }}
                                        {{ form_errors(form.category) }}
                                        {{ form_widget(form.category) }}
                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        {{ form_label(form.size, 'product.form.size') }}
                                        {{ form_errors(form.size) }}
                                        {{ form_widget(form.size) }}
                                    </div>
                                    <div class="form-group col-md-4">
                                        {{ form_label(form.weight, 'product.form.weight') }}
                                        {{ form_errors(form.weight) }}
                                        {{ form_widget(form.weight) }}
                                    </div>
                                    <div class="form-group col-md-4">
                                        {{ form_label(form.stock, 'product.form.stock') }}
                                        {{ form_errors(form.stock) }}
                                        {{ form_widget(form.stock) }}
                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        {{ form_label(form.price, 'product.form.price') }}
                                        {{ form_errors(form.price) }}
                                        {{ form_widget(form.price) }}
                                    </div>
                                    <div class="form-group col-md-4">
                                        {{ form_label(form.tax, 'product.form.tax') }}
                                        {{ form_errors(form.tax) }}
                                        {{ form_widget(form.tax) }}
                                    </div>
                                    <div class="form-group col-md-4">
                                        {{ form_label(form.ecotax, 'product.form.ecoTax') }}
                                        {{ form_errors(form.ecotax) }}
                                        {{ form_widget(form.ecotax) }}
                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        {{ form_label(form.active, 'product.form.active') }}
                                        {{ form_errors(form.active) }}
                                        {{ form_widget(form.active) }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        {{ form_label(form.isBest, 'product.form.isBest') }}
                                        {{ form_errors(form.isBest) }}
                                        {{ form_widget(form.isBest) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        {{ form_label(form.imageFile, 'product.form.thumbnail') }}
                                        {{ form_errors(form.imageFile) }}
                                        {{ form_widget(form.imageFile) }}
                                    </div>
                                </div>
                                <div class="row" id="div_product_images">
                                    <div id="product_collection_translations"
                                         data-text-add-image="{{ 'product.form.addImage'|trans }}"
                                         data-text-delete-image="{{ 'product.form.deleteImage'|trans }}"
                                         data-text-choose-image="{{ 'product.form.chooseImage'|trans }}"
                                    ></div>
                                    <div class="col-md-12 product_images_current">
                                        {% for image in form.productImages %}
                                            <div class="product_image">
                                                <div id="product_images_{{ loop.index -1 }}">
                                                    <div class="form-group col-md-4 mt-3">
                                                        {{ form_widget(image.imageFile) }}
                                                        <label class="custom-file-label">{{ 'product.form.chooseImage'|trans }}</label>
                                                    </div>
                                                    <hr>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-md-12 images product_images_new" data-prototype="{{ form_widget(form.productImages.vars.prototype)|e('html_attr') }}"></div>
                                </div>
                                <div class="form-group">
                                    <button title="{{ 'save'|trans }}"
                                            class="btn btn-block btn-info mt-3  mb-3"><i class="fas fa-save"></i> {{ 'save'|trans }}</button>
                                    <a href="{{ path('admin_product_index') }}" class="btn btn-default" title="{{ 'back'|trans }}"><i class="fas fa-backward"></i> {{ 'back'|trans }}</a>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript_admin_additionnals %}
    {# Script form_product_images.js #}
    {{ encore_entry_script_tags('form_product_images') }}
{% endblock %}
