{% extends 'base.html.twig' %}
{% block adminlte %}{% endblock %}

{% block title %}
	{{ 'product.add'|trans }}
{% endblock %}

{% block body_admin %}
	<div
		class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">{{ 'product.add'|trans }}</h1>
					</div>
					<!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item">
								<a href="{{ path('admin_dashboard') }}" title="{{ 'home'|trans }}">{{ 'home'|trans }}</a>
							</li>
							<li class="breadcrumb-item active">{{ 'admin.product.add'|trans }}</li>
						</ol>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-8 offset-md-2">
						<div class="card card-secondary">
							<div class="card-header">
								<h3 class="card-title">{{ 'admin.form.titleAdd'|trans }}</h3>
							</div>
							<div class="card-body">
								{% include 'admin/product/_form.html.twig' %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascript_admin_additionnals %}
	{# Script bsCustomFileInputjs #}
	{{ encore_entry_script_tags('bsfileinput') }}
	{# Script form_product_images.js #}
	{{ encore_entry_script_tags('form_product_images') }}
{% endblock %}
