{% extends 'base.html.twig' %}
{% block title %}
	{{ 'errors.catchError'|trans }}
{% endblock %}

{% block body %}
	<!-- Page Add Section Begin -->
	<section class="page-add">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="page-breadcrumb">
						<h2>{{ 'errors.error500'|trans }}<span>.</span></h2>
					</div>
				</div>
				<div class="col-lg-6">
					<img src="{{ asset('build/images/banners/mangaBan11.jpeg') }}" alt="Mangas">
				</div>
			</div>
		</div>
	</section>
	<!-- Contact Section Begin -->
	<!-- Cart Page Section Begin -->
	<div class="cart-page" style="min-height: 500px">
		<div class="container">
			<div class="row mb-5">
				<div class="col-lg-12 text-center">
					<h3>
						<i class="fas fa-exclamation-triangle text-warning"></i>
						{{'errors.catchError500'| trans }}
					</h3>
					<br>
					<p>
						{{'errors.msgError500'| trans }}
					</p>
					<a class="btn btn-info" title="{{ 'cart.success.home'|trans }}" href="{{ path('home') }}">{{ 'cart.success.home'|trans }}</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
