{% extends 'base.html.twig' %}

{% block title %}{{ 'user.order.title'|trans }}{% endblock %}

{% block body %}
<section class="page-add cart-page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-breadcrumb">
                    <h2>{{ 'user.order.title'|trans }}<span>.</span></h2>
                    <a href="{{ path('home') }}" title="{{ 'home'|trans }}">{{ 'home'|trans }}</a>
                    <a href="{{ path('account_index') }}" title="{{ 'user.profil.title'|trans }}">{{ 'user.profil.title'|trans }}</a>
                    <a class="active" href="#" title="{{ 'user.order.title'|trans }}">{{ 'user.order.title'|trans }}</a>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="{{ asset('build/images/banners/mangaBan6.jpg') }}" alt="Mangas">
            </div>
        </div>
    </div>
</section>
<div class="cart-page" style="min-height: 400px">
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-12 mb-5">
                <p>{{ 'user.order.subTitle'|trans }}</p>
                <hr/>
            </div>
            {% if orders|length == 0 %}
                <hr>
                <p>
                    {{ 'user.order.noOrder'|trans }}
                </p>
            {% else %}
                <table class="table mt-4">
                    <thead>
                    <tr>
                        <th scope="col">{{'user.order.reference'|trans}}</th>
                        <th scope="col">{{ 'user.order.passed'|trans }}</th>
                        <th scope="col">{{ 'user.order.product'|trans }}</th>
                        <th scope="col">Total</th>
                        <th scope="col">{{ 'user.order.status'|trans }}</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for key, order in orders %}
                        <tr>
                            <td><span class="badge badge-secondary">{{ order.reference }}</span></td>
                            <td>{{ order.paymentAt|date("d-m-Y H:i") }}</td>
                            <td>{{ order.orderDetails|length }}</td>
                            <td>{{ ((order.carrierPrice + order.total))|number_format(2, ',', '.') }} &euro;</td>
                            <td>
                                <span class="badge badge-pill badge-primary">
                                {% if order.status == 1 %}
                                    {{ 'user.order.state1'|trans }}
                                {% elseif order.status == 2%}
                                    {{ 'user.order.state2'|trans }}
                                {% elseif order.status == 3 %}
                                    {{ 'user.order.state3'|trans }}
                                {% elseif order.status == 4 %}
                                    {{ 'user.order.state4'|trans }}
                                {% endif %}
                                </span>
                            </td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-info" href="{{ path('account_order_show', {'reference': order.reference}) }}" title="{{ 'user.order.show'|trans }}"><i class="fas fa-eye"></i> {{ 'user.order.show'|trans }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
